


.bg_style{
background-image: url('../assets/welcome.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
position:relative;
height: 100vh;
}

.bg_black_overlay_screen{
background-color: rgba(0, 0, 0, 0.3);
height: 100vh;
position:absolute;
width: 100%;
left:0;
top:0;
z-index: 5;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position:absolute;
    width: 100%;
    left:0;
    top:0;
    
    h1{
        color:white
    }
 }


.flex_container{
    flex:1;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}

.heading{
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap:0.5em;
}

.heading h1{
    color : var(--color-primary-click);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* stroke */
    -webkit-text-fill-color: var(--color-secondary);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-primary-click);
    /* transparent effect */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    /* box shadow */
}

.input_container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin: 20px;
    width: 80%;
    z-index: 10;
    position:relative;
    h1{
        color:black;
    }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 0.5em;
    padding: 2em 3em;
}

.buttons{
    margin-top: 10px;
    margin-bottom: 5px;
}


@media screen and (max-width: 1024px){

}



@media screen and (max-width: 768px){



    .container{
        flex-direction: column;
        min-height: 100vh;

        

        h1{
            font-size: 1.5rem;
        }
    }

    .flex_container{
        min-height: auto;
    }

    .input_container{
        width: 90%;
    }

    form{
        width: 100%;
    }

}


