


.input{
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    width: 100%;
    font-size: 1rem;
    &:focus{
        border: 2px solid var(--color-primary-hover);
        outline: 3px solid var(--color-primary-faded);
    }
}