@import './LocalGlobals.module.css';

.container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;

    align-items: center;
    background-color: #f5f5f5;
    margin: 0;
    background-image: url('../assets/welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position:relative;
}

.header{
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    gap: 1em;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.button{
    padding: 1em;
    max-width: fit-content;
}


.header h1{
    color: var(--color-secondary);

}

.header p{
    color: var(--color-primary);
    font-size: 1.5rem;
}


/* put ripple effect in button */

.bg_style{

    height: 100vh;
    }
    

.roles {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    display: flex;
    flex-direction: column;
    gap:1em;
    justify-content: center;
    align-items: center;
    h2{
        color: white;
    }
}

.roles.show {
    max-height: 500px; /* Adjust this value based on your content */
    opacity: 1;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.card{
    min-width: 200px;
    cursor: pointer;
    align-items: center;
}

.card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card:active{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}




@media screen and (max-width: 728px){

    .header{
        flex-direction: column;
        text-align: center;
    }



    .cards{
        flex-direction: column;
    }
}