
table{
    width: 100%;
    border-collapse: collapse;
}



thead{
    background-color: #f1f1f1;
    border-bottom: 1px solid #e0e0e0;
}

tbody{
    background-color: white;
}

th{
    padding: 1em;
    text-align: left;
}

td{
    padding: 1em;
}

tr{
    border-bottom: 1px solid #e0e0e0;
}

tr:hover{
    background-color: #f5f5f5;
}


