


:root{
    --color-primary:#2A2AEB;
    --color-primary-hover: #0056b3;
    --color-primary-click: #002366;
    --color-primary-faded: #bbbbe9;
    --color-border: #e0e0e0;
    --color-sidebar-hover: #e0e0e0;
    --color-secondary: #414db6;
    --color-tertiary: #cecb3e;
}


